beautifulsoup4
google-analytics-data
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
loguru
python-dotenv
requests
scrapingbee
trafilatura
google-generativeai