google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-analytics-data
google-generativeai
jinja2
beautifulsoup4
trafilatura
scrapingbee 
loguru
python-dotenv
pyyaml
APScheduler